$font-montserrat: 'Montserrat', sans-serif;
$font-montserrat-alt: 'Montserrat Alternates', sans-serif;
$footer-bg-color: #fff7f3;
$nav-font-size: 16px;
$nav-title-font-size: 32px;
$nav-list-margin: 15px;
$social-title-font-size: 32px;
$social-item-margin: 25px;
$contacts-item-margin: 25px;
$container-padding: 50px 150px;
$button-color: black; 
