.about {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  padding: 25px 150px;
}
.about * {
  font-family: "Montserrat", sans-serif;
}
.about .about__headline {
  width: 100%;
  text-align: center;
  line-height: 120%;
  font-size: calc(20px + 0.8vw);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fe5811;
  font-family: "Montserrat Alternates";
}
.about .about__description-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.about .about__description-block .about__description-paragraph {
  font-size: min(12px + 0.5vw, 18px);
  color: #171717;
}
.about .about__slider-wrapper {
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about__slider-wrapper .about__slider {
  height: 380px;
  width: 100%;
  overflow: visible;
}
.about .about__slider-wrapper .about__slider .swiper-wrapper {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative;
}
.about .about__slider-wrapper .about__slider .swiper-wrapper .swiper-slide {
  width: 250px;
  height: 330px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.05) 100%), #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.3137254902);
  position: relative;
  transition: transform 0.3s ease;
}
.about .about__slider-wrapper .about__slider .swiper-wrapper .swiper-slide .about__slider-card {
  height: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  background: #fe5811;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;
  flex-direction: column;
  border-radius: 5px;
  transition: 0.3s ease, display 0s 0.3s;
}
.about .about__slider-wrapper .about__slider .swiper-wrapper .swiper-slide .about__slider-card .about__slider-main-info {
  font-size: calc(12px + 0.3vw);
  font-weight: 400;
  text-align: center;
  color: #fff;
}
.about .about__slider-wrapper .about__slider .swiper-wrapper .swiper-slide .about__slider-card .about__slider-additional-info {
  font-size: calc(10px + 0.3vw);
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  display: none;
  opacity: 0;
}
.about .about__slider-wrapper .about__slider .swiper-wrapper .swiper-slide .about__slider-image {
  width: 100%;
  height: calc(100% - 75px);
  object-fit: contain;
  object-position: center 0;
  opacity: 0.8;
  user-select: none;
}
.about .about__slider-wrapper .about__slider .swiper-wrapper .swiper-slide-active {
  transform: scale(1.1);
}
.about .about__slider-wrapper .about__slider .swiper-wrapper .swiper-slide-active .about__slider-card {
  height: 55px;
}
.about .about__slider-wrapper .about__slider .swiper-wrapper .swiper-slide-active .about__slider-card .about__slider-additional-info {
  display: block;
  opacity: 1;
}
.about .about__slider-wrapper .about__slider .swiper-wrapper .swiper-slide-active .about__slider-image {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .about {
    padding: 25px;
  }
  .about .about__slider-wrapper .about__slider {
    height: 350px;
  }
  .about .about__slider-wrapper .about__slider .swiper-slide {
    width: auto;
    height: 200px;
  }
  .about .about__slider-wrapper .about__slider .swiper-slide-active {
    width: auto;
    height: 200px;
  }
}
@media screen and (max-width: 450px) {
  .about {
    padding: 25px;
  }
  .about .about__slider-wrapper {
    padding: 0;
    height: auto;
  }
  .about .about__slider-wrapper .about__slider {
    height: 100%;
  }
  .about .about__slider-wrapper .about__slider .swiper-slide {
    width: auto;
    height: 100%;
  }
  .about .about__slider-wrapper .about__slider .swiper-slide .about__slider-image {
    width: 150px;
    height: 150px;
  }
  .about .about__slider-wrapper .about__slider .swiper-slide-active {
    width: auto;
    height: 100%;
  }
}