@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.connection {
    width: 100%;
    height: 778px;
    background: #FE5811;
    background-image: url(C:slidy/slidy-app/public/images/steps.svg);
    background-repeat: no-repeat;
    background-position-y: 330px;
    background-position-x: -15px;


    .contacts {
        display: flex;
        width: 629px;
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        float: left;
        margin: 30px 0 0 35px;

        .text-area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 25px;
            margin: 0 0 0 25px;

            .contacts-paragraf {
                color: #171717;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;


                .mailvec {
                    width: 36px;
                    height: 26px;
                    flex-shrink: 0;
                    float: left;
                    position: relative;
                    right: 25px;
                    bottom: 5px;
                }

                .phonevec {
                    width: 35px;
                    height: 34px;
                    flex-shrink: 0;
                    float: left;
                    position: relative;
                    right: 25px;
                    bottom: 7px;
                }

                .tagvec {
                    width: 35px;
                    height: 35px;
                    flex-shrink: 0;
                    float: left;
                    position: relative;
                    right: 25px;
                    bottom: 10px;
                }
            }
        }
    }

    .conection {
        width: 655px;
        height: 671px;
        flex-shrink: 0;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.90);
        float: right;
        text-align: center;
        margin: 30px 35px 0 0;
        padding-bottom: 25px;

        .header1-conection {
            color: #FE5811;
            font-family: "Montserrat Alternates";
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
        }

        .form-area {
            input {
                width: 587px;
                height: 81px;
                flex-shrink: 0;
                fill: #000000;
                opacity: 0.7;
                filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
                border-radius: 5px;
                border: none;
                padding-left: 18px;
            }

            .name {
                color: #000000;
                font-weight: 300;
                font-family: "Montserrat";
                font-size: 20px;
                font-style: normal;
                line-height: normal;
                margin: 15px;
            }

            .email {
                color: #000000;
                font-family: "Montserrat";
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin: 15px;
            }

            .problem {
                width: 587px;
                height: 207px;
                flex-shrink: 0;
                fill: #000000;
                opacity: 0.7;
                filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
                font-family: "Montserrat";
                font-size: 20px;
                border: none;
                border-radius: 5px;
                margin: 15px;
                padding-left: 18px;
                padding-top: 15px;
            }
        }

        .send-paragraf {
            .send {
                width: 229px;
                height: 65px;
                background: #FE5811;
                color: #FFF;
                text-align: center;
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border-radius: 5px;
                border: none;
            }

            .send:hover {
                background: rgba(254, 88, 17, 0.5);
            }

            .plane {
                width: 25px;
                height: 25px;
                flex-shrink: 0;
                float: left;
                position: relative;
                right: 0px;
                left: 245px;
                top: 20px;
            }
        }
    }
}

    
 

